* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fdfdfd;
}

h1,
h2,
h3,
p {
    color: #333;
}

input,
select {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.block {
    display: block;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .header {
        text-align: center;
        margin: 40px;
    }

    form {
        background-color: #fdfdfd;
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        /* top: -62px; */
    }
}